# Python virtual environment
venv/

# Environment variables
.env

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
